.pio/
.vscode/
releases/
*.elf
*.bin
*.hex
*.map
builds/.DS_Store
sim_fs/**/.msh_history
sim_fs/tmp/scores.txt
sim_fs/tmp/loot.txt
.DS_Store
src/.DS_Store
sim_fs/cron.log
src/sim/
.pio/build/native/program

# Fichiers générés par le simulateur standard (session)
sim_fs_standard/etc/shadow
sim_fs_standard/root/.groups
sim_fs_standard/etc/sudoers
sim_fs_standard/root/.fsmeta
sim_fs_standard/home/*/
sim_fs_standard/tmp/
.pio/build/native-ctf/program
